/* ヘッダーの背景色 */
th {
    background-color: #dcdcdc !important; /* グリーン */
    color: white; /* 白文字 */
  }

/* 偶数行の背景色と文字色 */
table tr:nth-child(even) { 
    background-color: #ffffff; /* 白 */   
    color: #000000; /* 黒色 */
}

/* 奇数行の背景色と文字色 */
table tr:nth-child(odd) {
    background-color: #dcdcdc; /* ライトグレー */
    color: #000000; /* 黒色 */
}


/* 画面全体の背景色と文字色を設定 */
body {
    background-color: #000000; /* 背景色を黒 */
    color: #ffffff;            /* 文字色を白 */
}

/* テーブル全体に枠線を設定 */
table {
    margin: auto;
    border-collapse: collapse; /* セルの枠線を結合して重複をなくす */
    width: 70%;               /* テーブルの幅を100%に設定（任意） */
}

/* テーブルのセル（thとtd）に枠線を設定 */
table, th, td {
    border: 1px solid #333; /* 枠線の色を濃いグレーに */
    padding: 8px;           /* セル内の余白を指定 */
}

.dli-create {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    position: relative;
    width: 1.05em;
    height: 0.2em;
    background: currentColor;
    border-radius: 0 0.075em 0.075em 0;
    transform: rotate(-45deg);
  }
  
  .dli-create::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 0.1em 0.15em;
    border-right-color: currentColor;
    border-left: 0;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    margin: auto;
  }
  
  .dli-create::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0.15em;
    border-left: 0.05em solid #fff;
    box-sizing: content-box;
  }