body {
    text-align: center;
    background-color: black;
    color: white;
}
.form {
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
}
.form-group {
    display: flex;
    flex-direction: column; /* 要素を縦に並べる */
    width: 350px;
    gap: 15px; /* aタグとボタンの間にスペースを設定 */
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 20px;
}

.form-control {
    height: 28px;
}
.pass-log {
    display: flex; /* Flexboxを使用 */
    flex-direction: column; /* 要素を縦に並べる */
    align-items: center; /* 要素を中央揃え（任意） */
    gap: 15px; /* aタグとボタンの間にスペースを設定 */
}

.pass-log a {
    text-decoration: none; /* 下線を削除（任意） */
    font-size: 14px;
    margin-top: 10p;
    margin-bottom: 10px;
    color: white;
}

.pass-log p {
    font-size: 28px;
    margin: 0;
    color: white;
}
.pass-log2 {
    display: flex; /* Flexboxを使用 */
    flex-direction: row; /* 要素を横に並べる */
    gap: 10px;
}
button {
    all: unset; /* ボタンの全てのデフォルトスタイルをリセット */
    color: white; /* 必要に応じてテキストカラーを指定 */
    cursor: pointer; /* クリック可能なポインターを表示 */
    font-size: 20px;
}