/* ヘッダーの背景色 */
h1{
  margin-top: 1400px;
}
th {
    background-color: #dcdcdc !important; /* グリーン */
    color: rgb(0, 0, 0); /* 白文字 */
  }

/* 偶数行の背景色と文字色 */
table tr:nth-child(even) { 
    background-color: #ffffff; /* 白 */   
    color: #000000; /* 黒色 */
}

/* 奇数行の背景色と文字色 */
table tr:nth-child(odd) {
    background-color: #dcdcdc; /* ライトグレー */
    color: #000000; /* 黒色 */
}


/* 画面全体の背景色と文字色を設定 */
body {
    background-color: #000000; /* 背景色を黒 */
    color: #ffffff;            /* 文字色を白 */
}

/* テーブル全体に枠線を設定 */
table {
    margin: auto;
    border-collapse: collapse; /* セルの枠線を結合して重複をなくす */
    width: 70%;               /* テーブルの幅を100%に設定（任意） */
}

/* テーブルのセル（thとtd）に枠線を設定 */
table, th, td {
    border: 1px solid #333; /* 枠線の色を濃いグレーに */
    padding: 8px;           /* セル内の余白を指定 */
}

.dli-create {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    position: relative;
    width: 1.05em;
    height: 0.2em;
    background: currentColor;
    border-radius: 0 0.075em 0.075em 0;
    transform: rotate(-45deg);
  }
  
  .dli-create::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 0.1em 0.15em;
    border-right-color: currentColor;
    border-left: 0;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    margin: auto;
  }
  
  .dli-create::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0.15em;
    border-left: 0.05em solid #fff;
    box-sizing: content-box;
  }

  /* 本体 */
.trash {
	font-size: 13px;
	position: relative;
	width: 0.9em;
	height: 1.2em;
	border-left: 0.1em solid #39a9d6;
	border-right: 0.1em solid #39a9d6;
	border-bottom: 0.1em solid #39a9d6;
	border-radius: 0 0 0.1em 0.1em;
	background:
		linear-gradient(to bottom, #39a9d6 0%, #39a9d6 100%) 0.2em 0.2em,
		linear-gradient(to bottom, #39a9d6 0%, #39a9d6 100%) 0.4em 0.2em,
		linear-gradient(to bottom, #39a9d6 0%, #39a9d6 100%) 0.6em 0.2em
	;
	background-size: 0.1em 0.8em;
	background-repeat: no-repeat;
}
/* 蓋 */
.trash::before {
	content: "";
	position: absolute;
	top: -0.1em;
	left: -0.2em;
	width: 1.3em;
	height: 0.1em;
	background-color: #39a9d6;
}
/* 取っ手 */
.trash::after {
	content: "";
	position: absolute;
	top: -0.3em;
	left: 0.1em;
	width: 0.5em;
	height: 0.2em;
	border-top: 0.1em solid #39a9d6;
	border-left: 0.1em solid #39a9d6;
	border-right: 0.1em solid #39a9d6;
	border-radius: 0.1em 0.1em 0 0;
}