@font-face {
  font-family: 'k8x12L';
  src: url('/font/k8x12L.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


 body {
  margin: 0;
  padding: 0;
  font-family: 'k8x12L', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  background-image: url('/assets/background.png');
         
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}


.quiz-table th {
width: 70%;
}

.quiz-table td {
width: 30%;
}
.quiz-table td {
  font-size: 50px; /* 変更したいサイズに調整 */
  line-height: 1.5; /* 行間を少し広げて見やすく */
}
span {
  display: block;
}

.quiz-table th:first-child,
.quiz-table td:first-child {
    font-weight: bold;
}


.quiz-column {
    width: 70%;
    font-size: 40px;
}

/* 解説ボタンの列: 30% */
.action-column {
    width: 30%;
    text-align: center;
    font-size: 40px;
}
/* クイズテーブル設定 */
.quiz-container {
  height: auto;
  /* 表示エリアの高さ */
  overflow-y: scroll;
  /* スクロールバー表示 */
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.quiz-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.8); /* 背景を白色で80%透明に設定 */
}


.quiz-table th,
.quiz-table td {
  border: 1px solid #ddd;
  padding: 12px;
  font-size: 1.2rem;
}

.quiz-table th {
  background-color: rgba(125, 125, 125, 0.8); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: bold;
}

.quiz-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* .quiz-table .result {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
} */

.explanation-btn {
  padding: 8px 12px;
  border: none;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.explanation-btn:hover {
  background-color: #222;
}

/* 下部メニュー */
.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  z-index: 1000; 
}
.menu-btn {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.menu-btn:hover {
  background-color: #777;
}

.explanation-btn:hover {
  background-color: #222;
}